body {
	font-family: 'Monda', sans-serif;
	font-size: 100%;
}
header {
	-webkit-align-items: center;
	    -ms-align-items: center;
	        align-items: center;
	display: -webkit-flex;
	display:     -ms-flex;
	display:         flex;
	-webkit-justify-content: space-between;
	    -ms-justify-content: space-between;
	        justify-content: space-between;
	padding: .5em;
	position: relative;
}
.user-status {
	cursor: pointer;
	padding: .5em;
}
.user-status:after {
	content: '\25BC';
}
.user-avatar {
	display: inline-block;
	height: 32px;
	width: 32px;
}
.user-login {
	margin: 0 .5em;
}
.user-avatar, .user-login {
	vertical-align: middle;
}
.user-menu a {
	color: inherit;
	display: block;
	padding: 1em;
	text-decoration: none;
}
.user-menu a:hover {
	color: #333;
	background-color: #ffc;
}
/* BEGIN user menu hide/show effect */
#menu-toggle,
.user-menu {
	display: none;
}
#menu-toggle:checked + header .user-status,
#menu-toggle:checked ~ .user-menu {
	background-color: #ff7;
}
#menu-toggle:checked + header .user-status:after {
	content: '\25B2';
}
#menu-toggle:checked ~ .user-menu {
	cursor: pointer;
	display: block;
	margin-top: .5em;
	position: absolute;
	right: .5em;
}
#menu-toggle:checked ~ .user-menu:before {
	border-bottom: .75em solid #ff7;
	border-left: .75em solid transparent;
	border-right: .75em solid transparent;
	bottom: 100%;
	content: '';
	display: block;
	height: 0;
	left: -webkit-calc(50% - .75em);
	left:    -moz-calc(50% - .75em);
	left:         calc(50% - .75em);
	position: absolute;
	width: 0;
}
/* END user menu hide/show effect */
.message {
	-webkit-animation: blink-flash-hide 10s;
	   -moz-animation: blink-flash-hide 10s;
	     -o-animation: blink-flash-hide 10s;
	        animation: blink-flash-hide 10s;
	-webkit-animation-fill-mode: forwards;
	       -moz-animation-fill-mode: forwards;
	         -o-animation-fill-mode: forwards;
	            animation-fill-mode: forwards;
	background-color: #ff7;
	border-bottom: 1px solid #ff0;
	border-top: 1px solid #ff0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
            box-sizing: border-box;
	color: #333;
	margin: 1em auto;
	padding: 1em;
}
.courses-page .message {
	position: absolute;
	width: 100%;
}
.initial-page {
	text-align: center;
}
.logo, .big-logo {
	background-size: cover;
	display: block;
	text-indent: -99999px;
}
.logo {
	background-image: url(../images/taas-logo.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 48px;
	width: 115px;
}
.big-logo {
	background-image: url(../images/taas-logo.svg);
	height: 257px;
	margin: 1em auto;
	width: 637px;
}
.login-button {
	background: #1a1a1a;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #1a1a1a 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #1a1a1a 0%,#000000 100%);
	background: -o-linear-gradient(top, #1a1a1a 0%,#000000 100%);
	background: -ms-linear-gradient(top, #1a1a1a 0%,#000000 100%);
	background: linear-gradient(to bottom, #1a1a1a 0%,#000000 100%);
	border: .15em solid #000;
	border-radius: .2em;
	color: #f0f0f0;
	display: inline-block;
	font-weight: 700;
	padding: 1em;
	text-decoration: none;
	text-shadow: .1em .1em 0 #000;
}
.login-button:hover {
	background: #1a1a1a;
}
.login-button:active {
	position: relative;
	top: .2em;
}
.courses {
	background-color: #ff8a22;
	padding-top: 50px;
	text-align: center;
}
.course {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 120px 120px;
	display: inline-block;
	margin: 1em;
	padding: 1em;
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	     -o-transition: .5s;
	        transition: .5s;
	width: 280px;
}
.course:hover {
	background-color: #ffd3ac;
}
.course-name {
	background-color: #3353d6;
	color: #f0f0f0;
	display: block;
	font-size: 150%;
	height: 120px;
	margin: .5em auto 1em;
	line-height: 280px;
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	     -o-transition: .5s;
	        transition: .5s;
	width: 120px;
}
.course:hover .course-name {
	background-color: #adbbf2;
	color: #333;
	line-height: 120px;
}
.course-name.CS-14 {
	background-image: url(../images/courses/CS-14.svg);
}
.course-name.FJ-11 {
	background-image: url(../images/courses/FJ-11.svg);
}
.course-name.FJ-19 {
	background-image: url(../images/courses/FJ-19.svg);
}
.course-name.FJ-21 {
	background-image: url(../images/courses/FJ-21.svg);
}
.course-name.FJ-22 {
	background-image: url(../images/courses/FJ-22.svg);
}
.course-name.FJ-25 {
	background-image: url(../images/courses/FJ-25.svg);
}
.course-name.FJ-26 {
	background-image: url(../images/courses/FJ-26.svg);
}
.course-name.FJ-27 {
	background-image: url(../images/courses/FJ-27.svg);
}
.course-name.FJ-28 {
	background-image: url(../images/courses/FJ-28.svg);
}
.course-name.FJ-31 {
	background-image: url(../images/courses/FJ-31.svg);
}
.course-name.FJ-34 {
	background-image: url(../images/courses/FJ-34.svg);
}
.course-name.FJ-57 {
	background-image: url(../images/courses/FJ-57.svg);
}
.course-name.FJ-59 {
	background-image: url(../images/courses/FJ-59.svg);
}
.course-name.FJ-91 {
	background-image: url(../images/courses/FJ-91.svg);
}
.course-name.FN-13 {
	background-image: url(../images/courses/FN-13.svg);
}
.course-name.FN-23 {
	background-image: url(../images/courses/FN-23.svg);
}
.course-name.IP-67 {
	background-image: url(../images/courses/IP-67.svg);
}
.course-name.PM-83 {
	background-image: url(../images/courses/PM-83.svg);
}
.course-name.PM-87 {
	background-image: url(../images/courses/PM-87.svg);
}
.course-name.PM-89 {
	background-image: url(../images/courses/PM-89.svg);
}
.course-name.RR-71 {
	background-image: url(../images/courses/RR-71.svg);
}
.course-name.RR-75 {
	background-image: url(../images/courses/RR-75.svg);
}
.course-name.WD-41 {
	background-image: url(../images/courses/WD-41.svg);
}
.course-name.WD-43 {
	background-image: url(../images/courses/WD-43.svg);
}
.course-name.WD-47 {
	background-image: url(../images/courses/WD-47.svg);
}
input[type=radio] {
	display: none;
}
.course-button {
	border: 1px solid black;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
            box-sizing: border-box;
	color: #f0f0f0;
	cursor: pointer;
	display: inline-block;
	font-family: inherit; /* don't know why, FF (at least) doesn't do this by default with buttons */
	font-size: 100%;
	font-weight: bold;
	line-height: normal; /* as Firefox wishes (see http://www.cssnewbie.com/input-button-line-height-bug/)... */
	opacity: 0;
	padding: .75em;
	text-align: center;
	text-shadow: -1px 1px rgba(0,0,0,.6);
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	     -o-transition: .5s;
	        transition: .5s;
	width: 45%;
}
.course-button:hover {
	color: #fff;
}
.course-button [class^='icon'] {
    margin-right: .5em;
}
.course-operation {
	background-color: #46b53b;
	border-color: #1aa10c;
	margin-bottom: .5em;
}
.course-operation:hover {
	background-color: #79f86c;
	border-color: #46b53b;
}
.course-operation-type {
	background-color: #fd222d;
	border-color: #b00d15;
	opacity: 0;
}
.course-operation-type:hover {
	background-color: #fe6f76;
	border-color: #c64047;
}

/* the first two buttons appear only when hovering the course */
.course:hover .course-operation {
	opacity: 1;
}

/* Selection effect on course-operation */
.course:hover .course-download:checked ~ .course-download,
.course:hover .course-generate:checked ~ .course-generate {
	opacity: 1;
}
.course:hover .course-download:checked ~ .course-generate,
.course:hover .course-generate:checked ~ .course-download {
	opacity: 0.2;
}

/* The unselected course-operation, on hover, must appear with opacity: 1 */
.course:hover .course-operation:checked ~ .course-operation:hover {
	opacity: 1;
}

/* After selecting, two more buttons appear */
.course:hover .course-operation:checked ~ .course-operation-type {
	opacity: 1;
}

@-webkit-keyframes blink-flash-hide {
	0%, 6%, 12%, 18% {
		background-color: #ff7;
	}
	3%, 6%, 9% {
		background-color: #ffc;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes blink-flash-hide {
	0%, 6%, 12%, 18% {
		background-color: #ff7;
	}
	3%, 6%, 9% {
		background-color: #ffc;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes blink-flash-hide {
	0%, 6%, 12%, 18% {
		background-color: #ff7;
	}
	3%, 6%, 9% {
		background-color: #ffc;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes blink-flash-hide {
	0%, 10%, 20%, 30% {
		background-color: #ff7;
	}
	5%, 15%, 25% {
		background-color: #ffc;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
